html
    head
      meta(charset="utf-8")
      title vue-webpack demo
      script

    body
      img.just-img(src=require('../../components/widget/demo/images/logo.webp'))
      div#app
        router-view

